<div class='wrapper'>

  <div class='side-bar'>
    <%= render "posts/side_bar" %>
  </div>

  <div class="images">
    <div class="left-image">
      <%= link_to image_tag("undraw_Development.png", class: :development), root_path %>
      aaaaa
    </div>
    <div class="right-image">
      aaaaa
      <%= link_to image_tag("undraw_Work_chat.png", class: :work), root_path %>
    </div>
  </div>
</div>