<div class='wrapper'>

  <div class='side-bar'>
    <%= render "posts/side_bar" %>
  </div>

  <div class="images">
    <div class="left-image">
      <%= link_to image_tag("undraw_Development.png", class: :development), root_path %>
      <div class="top1">
      <h1>チャットから案件進捗確認など<br>幅広い使い方が可能<h1>
      </div>
    </div>
    <div class="right-image">
      <div class="top2">
      <h1>仕事におけるコミュニケーションを<br>円滑にすることを実現</h1>
      </div>
      <%= link_to image_tag("undraw_Work_chat.png", class: :work), root_path %>
    </div>
  </div>
</div>