<div class="deadline">
<h1>締切日リスト</h1>
<% @posts.each do |post| %>
  <% if post.deadline %>
    <p><%= post.content %></p>
  <% end %>
<% end %>
</div>
<div class="hold">
<%= render partial: "holds/hold" %>
</div>
<div class="memo">
<%= render partial: "memos/memo" %>
</div>