<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
  <div class="other">
    <%= render "other_chat" %>
  </div>
</div>