.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: calc(100vh - 106.25px);
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.create-room a {
  font-size: 10px;
  border: 1px solid white;
  background-color: white;
  padding: 14px;
  color: #253141;
  text-decoration: none;
  border-radius: 3px;
}
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px - 106.25px);
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a {
  text-decoration: none;
  color: white;
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px - 300px);
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #333;
  font-size: 24px;
}
.header-button {
  display: flex;
}
.header-button a {
  text-decoration: none;
  border: 1px solid #253141;
  color: white;
  background-color: #253141;
  padding: 20px;
  border-radius: 3px;
}
.chat-edit{
  margin-right: 30px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px - 106.25px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.message {
  margin: 10px 0 0 0;
}
.upper-message{
  display: flex;
  align-items: center;
}
.message-user {
  color: #434a54;
  font-size: 16px;
}
.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.lower-message {
  margin-top: 10px;
  border-bottom: 3px solid #253141;
}
.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
}
.message-other{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  
}
.post-deadline{
  background-color: red;
  color: white;
  padding: 0 5px;
  margin-left: 480px;
}
.post-like{
  margin-left: 330px;
}
.check-form{
  display: flex;
  align-items: center;
  margin-left: 330px;
}
.form-update{
  margin-left: 330px;
  border: none;
  padding: 7px;
  border-radius: 3px;
  background-color: #00BB00;
  color: white;
}
.form {
  background-color: #F5DEB3;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}
.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 3px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 3px;
}
.deadline-text{
  text-align: center;
  background-color: #FFC0CB;
  color: gray;
}
.deadline-calendar{
  border: none;
  background-color: #FFC0CB;
  color: gray;
}
.hidden {
  display: none;
}
.other {
  width: 300px;
  height: calc(100vh - 106.25px);
}
.deadline {
  height: 33%;
  overflow: scroll;
  background-color: #FFC0CB;
}
.deadline-lists{
  display: flex;
  margin-top: 7px;
}
.deadline-date{
  margin-left: 7px;
  margin-right: 15px;
  background-color: red;
  color: white;
  padding: 0 5px;
}
.hold {
  height: 33%;
  background-color: #93FFAB;
  overflow: scroll;
}
.hold-list{
  margin-top: 7px;
  margin-left: 7px;
}
.memo {
  height: 34%;
  overflow: scroll;
  border-left: 1px solid;
  border-top: 1px solid;
}
.hold-h{
  font-size: 25px;
}
.deadline-h{
  font-size: 25px;
}